<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jira-to-Excel</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/dynaScript.js"></script>
    <link rel="stylesheet" href="../static/style.css">
    {% block app_scripts %}{% endblock %}
</head>
<body>
{% block app_header %}{% endblock %}
{% block app_content %}{% endblock %}
<footer>
    <div>
        <p>
            <span>Created by Alex Gagnon &copy; 2019</span>
        </p>
    </div>
</footer>
</body>
</html>