<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jira-to-Excel</title>
    {% block app_scripts %}{% endblock %}
</head>
<body>
<header>
    <div>
        <h1>
            <span>Jira to Excel</span>
        </h1>
        <h2>
            <span>Exports project issues filtered by versions to an Excel spreadsheet.</span>
        </h2>
    </div>
</header>
{% block app_content %}{% endblock %}
<footer>
    <div>
        <p>
            <span>Created by Alex Gagnon &copy; 2019</span>
        </p>
    </div>
</footer>
</body>
</html>