{% extends 'base.html' %}
{% block app_scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="../static/dynaScript.js"></script>
    <link rel="stylesheet" href="../static/style.css">
{% endblock %}
{% block app_content %}
    {% if form %}
        <main class="container">
            <div class="card-outer">
                <div class="card-inner">
                    <form action="" method="post">
                        {{ form.hidden_tag() }}
                        <section class="jxl-section">
                            <div>
                                <h3 class="shadow-inset">{{ form.project.label }}</h3>
                                <span class="dropbox">{{ form.project }}</span>
                            </div>
                        </section>
                        <section class="jxl-section">
                            <div>
                                <h3 class="shadow-inset">{{ form.filter_by.label }}</h3>
                                <span class="dropbox">{{ form.filter_by }}</span>
                            </div>
                        </section>
                        <section class="jxl-section">
                            <div>
                                <h3 class="shadow-inset">{{ form.version.label }}</h3>
                                <span class="dropbox">{{ form.version }}</span>
                            </div>
                        </section>
                        <section class="jxl-section">
                            <div>
                                <span class="shadow-inset">{{ form.generate }}</span>
                            </div>
                        </section>
                    </form>
                </div>
            </div>
        </main>
    {% endif %}
{% endblock %}