{% extends 'base.html' %}
{% block app_content %}
    {% if form %}
        <main>
            <form action="" method="post">
                {{ form.hidden_tag() }}
                <div>
                    <h3>{{ form.project.label }}{{ form.project }}</h3>
                </div>
                <div>
                    <h3>{{ form.filter_by.label }}{{ form.filter_by }}</h3>
                </div>
                <div>
                    <h3>{{ form.fix_version.label }}{{ form.fix_version }}</h3>
                </div>
                <div>
                    <h3>
                        {{ form.generate }}
                    </h3>
                </div>
            </form>
        </main>
    {% endif %}
{% endblock %}