@import url('https://fonts.googleapis.com/css?family=Lobster+Two&display=swap');

body {
    background-color: floralwhite;
    font-family: 'Lobster Two', cursive, sans-serif;
    letter-spacing: 1px;
    font-size: 18px;
}

h1, h2, footer {
    text-align: center;
    color: #edbb99;
}

h3, h4 {
    font-size: 2rem;
    color: white;
    margin-bottom: 5px;
}

.container {
    padding: 10px;
    display: flex;
    justify-content: center;
}

.card-outer {
    background: linear-gradient(115deg, #afeeee, #ffb0aa 75%);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.5) -2px 5px 12px;
    width: 50vw;
}

.jxl-header {
    padding-left: 20px;
}

.jxl-section {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px;
}

.shadow-inset {
    -webkit-background-clip: text;
    text-shadow: rgba(0, 0, 0, 0.66) -1px -1px 0;
}

.dropbox * {
    border-radius: 5px;
    padding: auto 20px;
    font-size: 1rem;
}

/* Login fields */
.field {
    display: flex;
    justify-content: center;
}

.control {
    color: white;
}

/* Custom Download Button */
#generate, #login {
    background: #add8e6;
    border: 2px outset turquoise;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
    color: white;
    font-size: 1.2rem;
    font-weight: bold;
    font-family: 'Lobster Two', cursive;
    text-shadow: rgba(0, 0, 0, 0.66) -1px 1px 0;
}

#generate:hover, #generate:focus,
#login:hover, #login:focus {
    background: #85c1e9;
}

#generate:active, #login:active {
    border: 2px inset turquoise;
    background: #add8e6;
}

.danger {
    color: red;
}