body {
    background-color: floralwhite;
}

h1, h2 {
    text-align: center;
    color: #edbb99;
    text-shadow: rgba(0, 0, 0, 0.5) -1px -1px 0;
}

.container {
    padding: 10px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

.card-outer {
    background: linear-gradient(115deg, #afeeee, #ffb0aa 75%);
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.5) -2px 5px 12px;
    max-height: 500px;
    width: 50vw;
}

.jxl-section {
    display: flex;
    justify-content: center;
    text-align: center;
    margin: 5px;
}

/* Font shadows for white text */
.font-shadow {
    font-size: 2rem;
    -webkit-background-clip: text;
    color: white;
    text-shadow: rgba(0, 0, 0, 0.5) -1px -1px 0;
    margin-bottom: 5px;

}

/* Font etching for light background*/
.font-etch {
    font-size: 1.2rem;
    -webkit-background-clip: text;
    text-shadow: rgba(0, 0, 0, 0.7) 0 1px 0;
}

.dropbox * {
    font-size: 1rem;
}

#generate {
    background: paleturquoise;
    border: 2px outset turquoise;
    cursor: pointer;
    border-radius: 30px;
    margin-top: 25px;
    margin-bottom: 25px;
    padding: 15px;
}

/* Custom Download Button */
#generate:hover, #generate:focus {
    background: #85c1e9;
}

#generate:active {
    border: 2px inset turquoise;
    background: #aed6f1;
}

footer {
    text-align: center;
    color: #edbb99;
}